<div class="flex flex-row justify-around">
  <% estimates.each do |name, story_point| %>
    <div data-testid="estimate" class="text-center text-3xl flex flex-col">
      <div class="p-12 bg-gradient-to-b from-emerald-500 to-sky-500 rounded-tl-lg rounded-tr-lg"><%= show_estimates? ? story_point : "?" %></div>
      <div class="px-12 bg-zinc-700 rounded-bl-lg rounded-br-lg"><%= name %></div>
    </div>
  <% end %>
</div>

<% if show_estimates? %>
  <div class="flex flex-row">
    <div class="w-1/4"></div>
    <p data-testid="prompt" class="rounded my-4 text-center py-2 px-4 bg-sky-500 text-white w-1/2">
      <%= prompt %>
    </p>
    <div class="w-1/4"></div>
  </div>
<% end %>
